@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,200;1,200&display=swap');

/* tag selectors */
body {
	background-color: #2d2d2d;
	color: #FFFFFF;

	font-family: "Roboto";
	font-size: 20px;

	max-height: 100vh;
}

a {
	color: #FFFFFF;

	font-family: "Roboto";
	font-size: 20px;
}

/* classess */
.flex {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 40vw;
	height: 100vh;
	gap: 30px;
}

.orange {
	color: #E8C5AC;
}

.lekton {
	font-family: "Lekton";
	font-size: 2em;
}

.box {
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
	background-color: #2d2d2d;
	padding: 0.5em;
	width: fit-content;
}
.navText {
	font-size: 48px;
	text-decoration: none;
}