@import url('https://fonts.googleapis.com/css2?family=Lekton&family=Roboto:wght@100&display=swap');
body {
	background-color: #3D4043;
	color: #ECECEC;

	font-family: Roboto;
	font-size: 1rem;
}

main {
	display: grid;
	grid-template-columns: 100px repeat(3, 1fr) 100px;
	grid-template-rows: repeat(9, 1fr);
}

footer {
	bottom: 0;
	padding-top: 30px;
	height: 50px;

	text-align: center;
	color: #888A8F;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Lekton;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-size: 3.5rem;
}

a, clicked {
	color: #ECECEC;
	text-decoration: underline;
}
a:hover {
	color: #FFBC6C;
}
a:active {
	color: #888A8F;
}

.orange-text {
	color: #FFBC6C;
}
.orange-underline {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #FFBC6C;
}
.center-text {
	text-align: center;
	grid-column: 3/4;
}
#me {
	grid-column: 2/4;
	grid-row: 2/3;
}
#moi {
	grid-column: 3/6;
	grid-row:1/5;
	background-image: url("../img/me_lines.png");
	background-repeat: no-repeat;
	background-size: contain;
}
#more {
	grid-column: 3/5;
	grid-row: 4/5;
	text-align: right;
}
#about {
	grid-column-start: 2;
	grid-row-start: 6;
}
#about2 {
	grid-column-start: 3;
	grid-row-start: 7;

	align-self: center;
}
#about3 {
	grid-column-start: 2;
	grid-row-start: 8;

	align-self: center;
}
::selection {
	color: #3D4043;
	background-color: #FFBC6C;
}


@media only screen and (max-width: 800px) {
	main {
		display: flex;
		flex-direction: column;
	}
	#moi {
		height: 500px;
	}
}