nav {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top:0;

	align-items: center;
	margin: 0;

	font-size: 2rem;

	backdrop-filter: blur(5px);

	transition: top 0.5s;
}
nav a {
	color: #ECECEC;
	text-decoration: none;
}
nav a:hover {
	color: #FFBC6C;
	text-decoration: none;
}

ul {
	list-style-type: none;

}
li {
	display: inline;
	padding: 16px 16px;

}

#logo {
	padding-left: 30px;
}


@media only screen and (max-width: 800px) {
	nav {
		flex-direction: column;
		justify-content: space-evenly;

		position:fixed;

		height:100vh;

		transition: right 0.5s;
	}
	li {
		display: block;
	}
}
