nav {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top:0;

	align-items: center;
	margin: 0;

	font-size: 2rem;

	backdrop-filter: blur(5px);

	transition: top 0.5s;
}
nav a {
	color: #ECECEC;
	text-decoration: none;
}
nav a:hover {
	color: #FFBC6C;
	text-decoration: none;
}

ul {
	list-style-type: none;

}
li {
	display: inline;
	padding: 16px 16px;

}
.isMobile {
	visibility: hidden;
	display:none;
}

#logo {
	padding-left: 30px;
}


@media only screen and (max-width: 800px) {
	nav {
		flex-direction: column;
		justify-content: center;

		z-index: 1;

		position:fixed;
		right:0;

		height:100vh;
		display:none;
	}

	li {
		display: block;
	}
	.isMobile {
		display: block;
	}
	svg.isMobile {
		visibility: visible;
		margin-bottom: 10px;
		
		position: fixed;
		top:5px;
		right:2vw;
	}
	#me {
		margin-top: 5vh;
	}
}
