main {
	display: flex;
	flex-direction:column;
	align-items: center;
}
img {
	max-width: 30vw;
	max-height: 20vh;
}
h2 {
	margin-bottom: 5px;
}
div:hover > #heart {
	position: relative;
	animation-name: heart;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
@keyframes heart {
	0% {bottom: 0}
	25% {bottom: 10px;}
	50% {bottom: 20px;}
	75% {bottom: 10px;}
	100% {bottom: 0;}
}
.featured {
	display:flex;
	justify-content:center;
	max-width:70vw;
	padding:5vw;
}
img.screenshot {
	max-height: 450px;
	max-width: 500px;

	margin:5px;

	filter:grayscale(30);

	border-radius: 15px;
}
img.screenshot:hover {
	filter:none;

	box-shadow: #FFBC6C 0px 5px, #ffbd6c93 0px 10px, #ffbd6c3e 0px 15px;
}
.tag {
	border-style: solid;
	border-width: 1px;
	border-color: #FFBC6C;

	color: #FFBC6C;

	padding: 2px;
}
.grey {
	filter: invert(100) grayscale(100);
}
.grey:hover {
	filter: none;
}
.project-image {
	justify-self: center;
	align-self: center;
	padding: 30px;
}
@media only screen and (max-width: 800px) {
	.featured {
		padding:0;
		max-width: 100%;
	}
	.project-image {
		display:none;
	}
	.disappear > * {
		display: none;
	}
}